<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AdminTelegramId" value="1976535977"/>
	</appSettings>

	<connectionStrings>
		<add name="localhost"
			 connectionString="User ID=postgres;Password=Alekseev4+;Host=localhost;Port=5432;Database=millionaire;Include Error Detail=true"
			 providerName="System.Data.PostgreSQL"/>
	</connectionStrings>
</configuration>